{% extends 'user/layout.html' %}
{% load static %}

{% block content %}

    <div class="container my-4 px-5">
        <img src="{% static 'img/coedu_img.jpg' %} " style="max-width:80%; height:auto;">
        <div class=" container">
            <div>
                안녕하세요 Co-Edu에 오신 것을 환영합니다. <br>
                Co-Edu에서는 멘토링 프로그램을 두 가지 모드로 이용할 수 있습니다. <br>
            </div>
            <div class="container">
                <ul>
                    <li>멘티 모드(기본 모드) </li>
                    <p>원하는 멘토를 찾아</p>
                    <li>멘토 모드 </li>
                </ul>
            </div>
        </div>

    </div>

{% endblock %}
