{% extends 'mentor/layout.html' %}
{% load static %}
{% load date_filter %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/timetable.css'%}">
{% endblock %}


{% block content %}

<div class="container">
                <div class="timetable-img text-center">
                    <img src="img/content/timetable.png" alt="">
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center">
                        <thead>
                            <tr class="bg-light-gray">
                                <th class="text-uppercase" style="width:16%">시간
                                </th>
                                <th class="text-uppercase" style="width:12%">월</th>
                                <th class="text-uppercase" style="width:12%">화</th>
                                <th class="text-uppercase" style="width:12%">수</th>
                                <th class="text-uppercase" style="width:12%">목</th>
                                <th class="text-uppercase" style="width:12%">금</th>
                                <th class="text-uppercase" style="width:12%">토</th>
                                <th class="text-uppercase" style="width:12%">일</th>
                            </tr>
                        </thead>
                        <tbody>
                        <div style="font-size: 20px;"><a href="?start={{ start|plus_days:-7|date:'Y-m-d' }}"><i class="bi bi-caret-left-fill" style="cursor: pointer; " ></i></a> {{ start.date }}~ {{ end.date }} <a href="?start={{ start|plus_days:7|date:'Y-m-d' }}"><i class="bi bi-caret-right-fill" style="cursor: pointer;"></i></a></div>

                            {% for row in data %}
                            <tr style="height: 30px">
                                <td class="align-middle">{{ row.time_str }}</td>
                                {% for col in row.columns %}
                                    {% if col.type == 'full' %}
                                        <td class="full-td" datetime="{{ col.obj.start_datetime|date:'Y-m-d H:i:s' }}" onclick="tdClicked(this)" style="cursor: pointer; background-color:#D0F0C0" mentee_name="{{ col.obj.mentee.name }}">
                                            <div class="font-size15">{{ col.obj.mentee.name }}</div>
                                        </td>
                                    {% else %}
                                        <td class="empty-td" datetime="{{ col.obj|date:'Y-m-d H:i:s' }}" onclick="emptyCellModalClicked(this)">
                                        </td>
                                    {% endif %}
                                {% endfor %}
                            </tr>

                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>

<div id="empty-cell-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">멘토링 가능 시간 추가</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>멘토링 가능 시간을 추가하시겠습니까?</p>
      </div>
      <div class="modal-footer">
          <form action="{% url 'mentor:empty_cell_modal' %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="datetime" />
              <input type="submit" class="btn btn-primary" value="추가" />
              <input type="button" class="btn btn-secondary" data-dismiss="modal" value="취소" />
          </form>
      </div>
    </div>
  </div>
</div>


<div id="available-cell-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">멘토링 가능 시간 제거</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>멘토링 가능 시간을 제거하시겠습니까?</p>
      </div>
      <div class="modal-footer">
          <form action="{% url 'mentor:available_cell_modal' %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="datetime" />
              <input type="submit" class="btn btn-danger" value="제거" />
              <input type="button" class="btn btn-secondary" data-dismiss="modal" value="취소" />
          </form>
      </div>
    </div>
  </div>
</div>



{% endblock %}

{% block extra_js %}
    <script>
        function tdClicked(obj) {
            alert(obj.getAttribute('mentee_name'));
        }

        function emptyCellModalClicked(obj){
            const datetime = obj.getAttribute('datetime');
            const modal = document.getElementById('empty-cell-modal');
            const datetimeInput = modal.querySelector('input[name=datetime]');
            datetimeInput.setAttribute('value', datetime);
            $('#empty-cell-modal').modal('toggle');
        }

    </script>

{% endblock %}