{% extends 'mentee/layout.html' %}
{% load static %}

{% block content %}
    <div class="d-flex flex-column align-items-center container my-4 px-5">
        <div class=" container">
            <div style="padding-left: 20px;">
               멘티 모드에서는 다음과 같은 메뉴를 사용할 수 있습니다. </br>
            </div>
            </br>
            <div class="container">
                <ul>
                    <li style="font-weight: bold;">멘토 찾기 </li>
                    <p style="padding-left: 5px;">원하는 멘토를 찾아</p>
                    <li style="font-weight: bold;">멘토링 신청내역 </li>
                    <p style="padding-left: 5px;">원하는 멘토를 찾아</p>
                    <li style="font-weight: bold;">멘토와의 대화 </li>
                    <p style="padding-left: 5px;">원하는 멘토를 찾아</p>
                    <li style="font-weight: bold;">내 일정 </li>
                    <p style="padding-left: 5px;">멘티에게게</p>
               </ul>
            </div>
        </div>

    </div>

{% endblock %}
