{% extends 'mentee/layout.html' %}


{% block content %}
    <div class="container">
        {%for inner_list in mentor_list %}
          <div class="row">
              {% for inst in inner_list %}
                <div class="col">
                      <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title"> {{ inst.user.name }} </h5>
                            <!--<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            -->
                            <p class="card-text">
                                <ul>
                                    <li><i class="bi bi-award"></i>{{ inst.major }}/{{ inst.user.admission_year|slice:"2:4"}}학번</li>
                                    <li> {{ inst.user.gender }} </li>
                                    <li> {{ inst.teaching_subject }} </li>
                                </ul>
                            </p>
                            <!--
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                            -->
                        </div>
                      </div>
                </div>
              {% endfor %}
          </div>
        {% endfor %}
    </div>
{% endblock %}