{% extends 'mentee/layout.html' %}


{% block content %}

    <div class="container my-4 px-5">
        <div>

            <div class="row justify-content-between my-3">
            <div class="col-3">
                <select class="form-control status">
                    <option value="all" {% if status == 'all' %}selected{% endif %}>전체</option>
                    <option value="act" {% if status == 'act' %}selected{% endif %}>멘토링 중인 멘토</option>
                    <option value="cle" {% if status == 'cle' %}selected{% endif %}>멘토링 중이 아닌 멘토</option>
                </select>
            </div>
            <div class="col-4 input-group">
                <input type="text" class="form-control kw" value="{{ kw|default_if_none:'' }}">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="btn_search">찾기</button>
                </div>
            </div>
        </div>
        <table class="table">
            <thead>
            <tr class="text-center">
                <th style="width:30%">멘토 이름</th>
                <th style="width:70%">마지막 대화 내용</th>
            </tr>
            </thead>
            <tbody>
            {% for mentor_chat in mentor_chat_list %}
            <tr class="text-center">
                <td>
                    <a href="{% url 'mentee:mentor_detail' %}?mentor_id={{ mentor_chat.mentor.user.id }}">{{ mentor_chat.mentor.user.name }}</a>
                </td>
                <td>
                    <span style="cursor: pointer;" onclick="showChatModal(this);" mentor_id="{{ mentor_chat.mentor.user.id }}">{{ mentor_chat.last_chat.content }}</span>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        </div>
    </div>
    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if mentoring_request.has_previous %}
            <li class="page-item">
                <a class="page-link" data-page="{{ mentoring_request.previous_page_number }}" href="#">이전</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
            </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in mentoring_request.paginator.page_range %}
            {% if page_number >= mentoring_request.number|add:-5 and page_number <= mentoring_request.number|add:5 %}
                {% if page_number == mentoring_request.number %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if mentoring_request.has_next %}
            <li class="page-item">
                <a class="page-link" data-page="{{ mentoring_request.next_page_number }}" href="#">다음</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
            </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->

    <form id="searchForm" method="get" action="">
        <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
        <input type="hidden" id="page" name="page" value="{{ page }}">
        <input type="hidden" id="status" name="status" value="{{ status }}">
    </form>



    <div id="chat-modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">멘토님과 쪽지</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body px-3" >
                    <div style="height: 50vh; overflow: hidden; width:100%; " >
                        <div id="chat-body" style="width: 100%; height: 100%; overflow-y: scroll; padding-right: 17px; box-sizing: content-box;">
                            <!-- By Javascript -->
                        </div>
                    </div>

                    <div class="d-flex mt-3">
                        <textarea id="chat-content" rows="1" name="content" class="form-control mr-2"></textarea>
                        <input type="button" class="btn btn-outline-secondary" value="보내기" onclick="chatSending(this);"/>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block extra_js %}
    <script type='text/javascript'>
        $(document).ready(function(){
            $(".page-link").on('click', function() {
                $("#page").val($(this).data("page"));
                $("#searchForm").submit();
            });

            $("#btn_search").on('click', function() {
                $("#kw").val($(".kw").val());
                $("#page").val(1);  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
                $("#searchForm").submit();
            });

            $(".status").on('change', function() {
                $("#status").val($(this).val());
                $("#page").val(1);
                $("#searchForm").submit();
            });
        });
    </script>

    <script>

        function showChatModal(obj) {
            const mentorId = obj.getAttribute('mentor_id');

            let chatBody = document.getElementById('chat-body');

            const xhttp = new XMLHttpRequest();
            xhttp.onload = function() {
                chatBody.innerHTML = this.responseText

                $('#chat-modal').modal('toggle');

                chatBody.scrollTo(0, chatBody.scrollHeight);

                chatBody.setAttribute('mentor_id', mentorId);
            }
            xhttp.open("GET", `{% url 'mentee:get_chat_body' %}?mentor_id=${mentorId}`, true);
            xhttp.send();
        }


        function chatSending(sendButton){
            // Get content dom element
            let chatInput = document.getElementById('chat-content')
            let chatBody = document.getElementById('chat-body')
            const mentorId = chatBody.getAttribute('mentor_id')

            // Make form data
            var formData = new FormData();
            formData.append("content", chatInput.value);
            formData.append("sender_id", "{{ request.user.id }}");
            formData.append("receiver_id", mentorId);

            const xhttp = new XMLHttpRequest();
            xhttp.onload = function() {
                // Update chatBody
                chatBody.innerHTML += `
                <div class="my-2" style="text-align: right;">
                    <div class="card py-2 px-2 m-0" style="display: inline-block; max-width: 45%;">
                        ${chatInput.value}
                    </div>
                </div>
            `

                chatBody.scrollTo(0, chatBody.scrollHeight);

                // Initialize chat input
                chatInput.value = '';
            }
            xhttp.open("POST", "{% url 'mentee:send_chat' %}", true);
            xhttp.send(formData);
        }
    </script>
{% endblock %}
