{% extends 'mentee/layout.html' %}
{% load static %}
{% load date_filter %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/timetable.css'%}">
{% endblock %}
{% block content %}

<div class="container">
                <div class="timetable-img text-center">
                    <img src="img/content/timetable.png" alt="">
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center">
                        <thead>
                            <tr class="bg-light-gray">
                                <th class="text-uppercase" style="width:16%">시간
                                </th>
                                <th class="text-uppercase" style="width:12%">월</th>
                                <th class="text-uppercase" style="width:12%">화</th>
                                <th class="text-uppercase" style="width:12%">수</th>
                                <th class="text-uppercase" style="width:12%">목</th>
                                <th class="text-uppercase" style="width:12%">금</th>
                                <th class="text-uppercase" style="width:12%">토</th>
                                <th class="text-uppercase" style="width:12%">일</th>
                            </tr>
                        </thead>
                        <tbody>
                        <div style="font-size: 20px;"><a href="?start={{ start|plus_days:-7|date:'Y-m-d' }}"><i class="bi bi-caret-left-fill" style="cursor: pointer; " ></i></a> {{ start.date }}~ {{ end.date }} <a href="?start={{ start|plus_days:7|date:'Y-m-d' }}"><i class="bi bi-caret-right-fill" style="cursor: pointer;"></i></a></div>

                            {% for row in data %}
                            <tr style="height: 30px">
                                <td class="align-middle">{{ row.time_str }}</td>
                                {% for col in row.columns %}
                                    {% if col.type == 'requestong' %}
                                        <td class="full-light-red-td" datetime="{{ col.obj.mentoring_timetable.start_datetime|date:'Y-m-d H:i:s' }}" onclick="requestongCellModalClicked(this)" style="cursor: pointer;" pk="{{ col.obj.id }}">
                                            <div class="font-size15">{{ col.obj.mentor.user.name }}</div>
                                        </td>

                                    {% elif col.type == 'mentoringong' %}
                                        <td class="full-red-td" datetime="{{ col.obj.mentoring_timetable.start_datetime|date:'Y-m-d H:i:s' }}" onclick="mentoringongCellModalClicked(this)" style="cursor: pointer;" pk="{{ col.obj.id }}" >
                                            <div class="font-size15">{{ col.obj.mentor.user.name }}</div>
                                        </td>

                                    {% elif col.type == 'cpt' %}
                                        <td class="full-red-td" datetime="{{ col.obj.mentoring_timetable.start_datetime|date:'Y-m-d H:i:s' }}" onclick="cptCellModalClicked(this)" style="cursor: pointer;" pk="{{ col.obj.id }}" >
                                            <div class="font-size15">{{ col.obj.mentor.user.name }}</div>
                                        </td>

                                    {% else %}
                                        <td datetime="{{ col.obj|date:'Y-m-d H:i:s' }}" >
                                        </td>

                                    {% endif %}
                                {% endfor %}
                            </tr>

                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>



<div id="requestong-cell-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">신청한 멘토링 내역</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
          <form action="{% url 'mentee:requestong_cell_modal' %}" method="post" onsubmit="return confirm('멘토링 신청을 정말 취소하시겠습니까?')">
              {% csrf_token %}
              <input type="hidden" name="datetime" />
              <input type="submit" class="btn btn-danger" value="신청 취소" />
              <input type="button" class="btn btn-secondary" data-dismiss="modal" value="확인" />
          </form>
      </div>
    </div>
  </div>
</div>


<div id="mentoringong-cell-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">예정된 멘토링 내역</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
          <form action="{% url 'mentee:mentoringong_cell_modal' %}" method="post" onsubmit="return confirm('일정을 정말 취소하시겠습니까?')">
              {% csrf_token %}
              <input type="hidden" name="datetime" />
              <input type="submit" class="btn btn-danger" value="일정 취소" />
              <input type="button" class="btn btn-secondary" data-dismiss="modal" value="확인" />
          </form>
      </div>
    </div>
  </div>
</div>


<div id="cpt-cell-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">완료된 멘토링 내역</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
          <form action="{% url 'mentee:cpt_cell_modal' %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="datetime" />
              <input type="button" class="btn btn-secondary" data-dismiss="modal" value="확인" />
          </form>
      </div>
    </div>
  </div>
</div>



{% endblock %}

{% block extra_js %}
    <script>
        function requestongCellModalClicked(obj){
            const datetime = obj.getAttribute('datetime');
            const modal = document.getElementById('requestong-cell-modal');
            const datetimeInput = modal.querySelector('input[name=datetime]');
            datetimeInput.setAttribute('value', datetime);

            const pk = obj.getAttribute('pk');

            // 서버에 멘토링 html 내용을 요청해서 받아옴
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function() {
                // 1. 서버에서 응답으로 온 html을 모달창에 넣어주기
                document.querySelector("#requestong-cell-modal .modal-body").innerHTML = this.responseText;
                // 2. 모달창 보여주기
                $('#requestong-cell-modal').modal('toggle');
            }
            xhttp.open("GET", "{% url 'mentee:requestong_cell_modal_content' %}" + "?pk=" + pk, true);
            xhttp.send();
        }

        function mentoringongCellModalClicked(obj){
            const datetime = obj.getAttribute('datetime');
            const modal = document.getElementById('mentoringong-cell-modal');
            const datetimeInput = modal.querySelector('input[name=datetime]');
            datetimeInput.setAttribute('value', datetime);

            const pk = obj.getAttribute('pk');

            // 서버에 멘토링 html 내용을 요청해서 받아옴
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function() {
                // 1. 서버에서 응답으로 온 html을 모달창에 넣어주기
                document.querySelector("#mentoringong-cell-modal .modal-body").innerHTML = this.responseText;
                // 2. 모달창 보여주기
                $('#mentoringong-cell-modal').modal('toggle');
            }
            xhttp.open("GET", "{% url 'mentee:mentoringong_cell_modal_content' %}" + "?pk=" + pk, true);
            xhttp.send();
        }

        function cptCellModalClicked(obj){
            const datetime = obj.getAttribute('datetime');
            const modal = document.getElementById('cpt-cell-modal');
            const datetimeInput = modal.querySelector('input[name=datetime]');
            datetimeInput.setAttribute('value', datetime);

            const pk = obj.getAttribute('pk');

            // 서버에 멘토링 html 내용을 요청해서 받아옴
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function() {
                // 1. 서버에서 응답으로 온 html을 모달창에 넣어주기
                document.querySelector("#cpt-cell-modal .modal-body").innerHTML = this.responseText;
                // 2. 모달창 보여주기
                $('#cpt-cell-modal').modal('toggle');
            }
            xhttp.open("GET", "{% url 'mentee:cpt_cell_modal_content' %}" + "?pk=" + pk, true);
            xhttp.send();
        }

    </script>

{% endblock %}